# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.1

# OpenCV
opencv-python==4.1.0.25

numpy

gunicorn>=19.1.0

tensorflow==2.1.0
keras
Pillow
