<!DOCTYPE html>
<html>

<head>
	<title>Detect Pink Eye</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body>

	<div class="header">
		<h1>Pink-Eye Detection</h1>
	</div>

	<div class="container">
		<h4>Upload Image as shown below:</h4>
		<img src="./static/sample1.jpg" height="150" width="150" alt="">
	</div>

	<div class="container">
		<form action="/" method="post" enctype=multipart/form-data> <div class="container">
			<br>
			<label>Select image: </label>
			<input type="file" name="imageUpload" accept="image/*" id="input-file"></input><br>

			<div class="container">

          <h4>Please provide few details</h4>

          <label>Itching?</label>
          <input type="radio" name="itching" value="1" required> YES </input>
          <input type="radio" name="itching" value="0"> NO </input><br>

          <label>Eyes discharge or Sleepy Eyes?</label>
          <input type="radio" name="discharge" value="1" required> YES </input>
          <input type="radio" name="discharge" value="0"> NO </input><br>

          <label>Pain or Blurry Eyes?</label>
          <input type="radio" name="pain_blur" value="1" required> YES </input>
          <input type="radio" name="pain_blur" value="0"> NO </input><br>

          <button type="submit">submit</button>
	</div>


</body>

</html>
