<!DOCTYPE html>
<html>

<head>
	<title>Detect Pink Eye</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body style="text-align: center;">
	<h1>Pink-Eye Detection</h1>

	<div class="container">
		<img src="{{ url_for('static', filename = img_src) }}" height="300" width="300" }}></img><br>

		{% if result |length ==1 %}
		<p>It is <strong>{{ result[0] }}</strong></p>
		{% else %}
		<p>You have <strong>{{ result[0] }}</strong></p>
		<p> <strong>{{ result[1] }}</strong> </p>
		{% endif %}
	</div>

	<div class="container" style="text-align: center; margin-top:10px;">
		<a href="/"> <button type="button" name="button"> Next Image </button> </a>
	</div>

</body>

</html>
